<h1>Our Cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-trash destroy_dose"></i>
    <% end %>
  <% end %>
</ul>

<br>

<p><%= link_to 'Add a cocktail', new_cocktail_path(@cocktail) %></p>
