<div class="banner-cocktail">
  <div class="cocktail-card">
    <section>
      <h2>Create your cocktail</h2>
    </section>
    <div class="new-cocktail-card">
      <label class="form w-100">
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name, label: false, placeholder: 'Name' %>
          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
      </label>
      <%= link_to "Back to homepage", root_path %>
    </div>
  </div>
</div>
